@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

nav {

    height: 10vh;
    background-color: #17252a;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 10px 0px;
    text-decoration: none;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid black;
}


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    --background: #3aafa9;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: black;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

a {

    color: #3aafa9;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    /* padding: 10px; */
    padding-left: 4px;
}

svg {
    /* background-color: azure; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
}

.active {
    text-decoration: underline;
}

.homePage {
    background-color: #17252a;
    width: 100%;
    height: auto;
    padding-top: 20px;


}


.title {

    font-size: 20px;
    padding: 10px;
    text-decoration: wavy;
    font-family: 'Itim', cursive;
}

.homePage {
    width: 100%;
    height: auto;
    min-height: 800px;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    font-family: 'Itim', cursive;
}


.post {
    width: 40vw;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(141, 140, 140);
    background-color: azure;

    margin: 10px auto;
    padding-bottom: 10px;
    font-family: 'Itim', cursive;
}


.xbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: 40vw;
    padding: 10px;
    font-family: 'Itim', cursive;
}

.ybox {
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    border-radius: 10px;
}

.title {
    margin-left: 10px;
    font-family: 'Itim', cursive;

}

.postText {

    font-size: 18px;
    margin-left: 10px;
    font-family: 'Alegreya SC', serif;
    color: black;
    font-family: 'Itim', cursive;

}

.postWriter {

    text-decoration: overline;
    font-size: 12px;
    margin-left: 10px;
    font-weight: 800;
    margin-top: 10px;
    font-family: 'Alegreya SC', serif;
    color: rgb(100, 99, 99);
    font-family: 'Itim', cursive;

}

.postDate {
    margin-left: 10px;
    font-size: 10px;
    margin-top: 4px;
    color: rgb(105, 103, 103);

}

.deletePost {

    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.deletePost svg {
    color: red;
    font-size: 40px;
}

.deletePost button {
    font-size: 18px;

    font-family: inherit;
    font-weight: 800;
    color: red;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.deletePost button:focus:after,
.deletePost button:hover:after {
    width: 100%;
    left: 0%;
}

.deletePost button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: red;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
    box-shadow: 0px 0px 10px red;
}

.lgbtn {
    background-color: #3aafa9;

    position: absolute;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    font-size: 20px;
    width: auto;
    padding: 4px;
    transition: all;
    border-radius: 4px;
    border: none;
    outline: none;
    border-radius: 50%;
}

.lgbtn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px red;
    transform: scale(1.1);
}


.deletePost {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


@media screen and (max-width:600px) {

    nav {
        width: 100%;

    }

    a {
        font-size: 15px;
    }

    .lgbtn {
        font-size: 15px;
    }

    .homePage {
        width: 100vw;
    }

    .wrap {

        width: 100%;
    }

    .post {
        width: 90%;
        margin: 4px auto;
    }

    .ybox {
        margin-left: 0px;
    }

    .title {
        font-size: 10px;
        margin-left: 4px;
    }

    .foot {

        width: 100vw;
    }
}


.greet {
    background-color: black;
    color: azure;
    padding: 10px;
    text-align: center;
}